#wrapper{
    width:100%;
    height: 200px;
}
#body{
	background-color:#ccffcc;
}
.item{
	
}
#id1{
	text-align:center;
}
#id2{
	color:black;
	
}
#id3{
	color:black;
}
#id4{
	color:black;
}
#id5{
	color:black;
}
#id6{
	color:black;
}
#id7{
	color:black;
}
#id8{
	color:black;
}
#id9{
	color:black;
}

ul {
    list-style-type: none;
    margin-top: -25px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #99ccff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#id10{
	
	background-color: #ccccff;
    width: 300px;
    height: 300px;
    border: 1px dotted black;
    overflow-x: hidden;
    overflow-y: scroll;
	padding:20px;
	margin-left:30px;
	margin-top:50px;
	margin-bottom:10px;
}
#id11{
	
}